@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles globaux optionnels */
body {
  @apply bg-gray-50 text-gray-900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
